# Modules
node_modules/

# Notes
notes/
responses/
tales/

# Security
security/
security
.security 
*.security

# Text
text/
*.txt 

# MISC
*.txt
*.pdf
*.md

# Secrets
*.env

# Hold working files while working on test code
hold/ 
tmp/
*.hold
*.tmp





*.zip

*.svg

ursula-instructions.js

object-format.js

response.js

dates.js

fix.js

lauren-instructions.js

luisa-instructions.js